Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
coverage==4.4.1
gunicorn==19.7.1
Flask-Migrate==2.1.1
Flask-Mail==0.9.1
alembic==0.9.5
click==6.7
SQLAlchemy==1.1.14
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
psycopg2==2.8.4
python-dateutil==2.6.1
python-editor==1.0.3
six==1.11.0
Werkzeug==0.14.1
flask-bcrypt==0.7.1
pyjwt==1.5.3
celery==4.1.1
redis==2.10.6
twilio==6.8.0
flask-cors==3.0.3
raven==6.3.0
facepy==1.0.9
pyfcm==1.4.3
flask-accept==0.0.4
